/* ---------------  Общие стили -------------- */
html, body {
    font: 400 16px 'Lato', sans-serif;
    line-height: 1.6;
    color: #424551;
    line-height: 160%;
}
h1 {
    font-size: 64px;
    letter-spacing: 1px;
    line-height: 130%;
    color: #1E212C;
    font-weight: 900;
}
h2 {
    font-size: 46px;
    line-height: 130%;
    color: #1E212C;
    font-weight: 900;    
}
h6 {
    letter-spacing: 1px;
    line-height: 150%;
    color: #1E212C;
    font-weight: 900; 
}
.container {
    margin: auto;
    box-sizing: border-box;
    max-width: 1260px;
    padding: 0 15px;
}
.btn-orange {
    padding: 0 40px;
    background: linear-gradient(to top right, #FF3F3A, #F75E05);
    border-radius: 4px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
    white-space: nowrap;
}
.btn-orange:hover {
    transform: scale(1.05);
}
.btn-none {
    padding: 0 40px;
    background: none;
    border-radius: 4px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.5px;
    color: #FF3F3A;
    border: 1px solid #FF3F3A;
    transition: all 0.3s;
    cursor: pointer;
    white-space: nowrap;    
}
.btn-none:hover {
    transform: scale(1.05);
}
.link {
    transition: all 0.2s;
}
.link:hover {
    color: #FF3F3A;
}
.subtitle {
    margin-bottom: 8px;
}
.slide-arrow {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    transition: all 0.3s;
    z-index: 1;
}
.slide-arrow:hover {
    background: #FF3F3A;
}
.slide-arrow:hover path{
    fill: #fff;
}
.slide-arrow_next path {
    fill: #424551;
}

/* ---------------  Header -------------- */

.header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 45px;
    background: url("../images/decor/shapes-bg.svg") 50% 50% / cover no-repeat, linear-gradient(to top right, hsl(2, 100%, 61%, 0.2) 0%, hsl(22, 96%, 49%, 0.2) 100%);
}
.header__top {
    display: flex;
    align-items: center;
    margin-bottom: 78px;
}
.header__nav {
    margin-left: 60px;
    margin-right: 225px;
}
.header__nav-box {
    display: flex;
}
.header__nav-item {
    margin-right: 40px;
    font-weight: 700;
    white-space: nowrap;
}
.header__nav-item:last-child {
    margin-right: 0;
}
.header__top-btns {
    display: flex;
}
.header__btn {
    margin-right: 36px;
}
.header__user {
    display: flex;
    align-items: center;
    font-weight: 700; 
}
.header__user-logo {
    margin-right: 10px;
}

.header__body-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.header__content {
    width: 496px;
}
.header__play-btn {
    display: flex;
    align-items: center;
    background: none;
    line-height: 150%;
    font-size: 14px;
    font-weight: 900;
    color: #1E212C;
    margin-bottom: 40px;
}
.header__play-btn:hover img {
    box-shadow: 0 0 0 16px hsl(2, 100%, 61%, 0.12);
}
.header__play-btn img {
    transition: all 0.3s;
    margin-right: 16px;
    border-radius: 50%;
}
.header__title {
    margin-bottom: 60px;
}
.header__btn-1 {
    margin-right: 24px;
    margin-bottom: 24px;
}
.header__body-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__body-end span {
    width: 8px;
    height: 8px;
    background-color: #F75E05;
    border-radius: 50%;
    margin: 0 15px;
}
.header__end-item {
    display: flex;
    align-items: center;
    color: #1E212C;
}
.header__end-item h2 {
    margin-right: 12px;
}


/* ---------------  about -------------- */

.about {
    padding-top: 35px;
    padding-bottom: 180px;
}
.about__band {
    position: relative;
}
.about__band div{
    height: 123px;
    width: 30px;
    border-radius: 4px;
    background: #D9D9D9;
    transition: all 0.5s;
    margin-bottom: 21px;
}
.about__band:hover div {
    width: 100%;
}
.about__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
}
.about__body-content {
    width: 600px;
    position: relative;
}
.about__body-content::after {
    content: "";
    background: url("../images/decor/1.svg");
    width: 100px;
    height: 85px;
    position: absolute;
    top: -70px;
    right: -720px;
}
.about__title {
    margin-bottom: 48px;
}
.about__text {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}
.about__subtext {
    margin-bottom: 60px;
}
.about__btn-1 {
    margin-right: 24px;
}
.about__body-picture {
    align-self: flex-end;
}
.about__end {
    display: flex;
    justify-content: space-between;
}
.about__end-content {
    align-self: center;
    margin-left: 10px;
}
.about__end-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.about__end-item h2 {
    color: #FF3F3A;
    margin-right: 16px;
}
.about__img-box {
    box-shadow: 2px 2px 8px #262627;
}
.about__end-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------  directions -------------- */

.directions {
    padding-bottom: 178px;
}
.directions__subtitle {
    text-align: center;
}
.directions__title {
    text-align: center;
    margin-bottom: 90px;
}
.directions__filter-box {
    display: flex;
    margin-bottom: 46px;
    position: relative;
}
.directions__filter-box::before {
    content: "";
    background: url("../images/decor/2.svg");
    width: 144px;
    height: 123px;
    position: absolute;
    top: -210px;
    left: -200px;
}
/*.directions__filter-box::after {
    content: "";
    background: url("../images/decor/3.svg");
    opacity: 0.3;
    width: 243px;
    height: 243px;
    position: absolute;
    top: 400px;
    left: 1420px;
}*/
.directions__filter-item {
    margin-right: 45px;
}
.directions__filter-item:last-child {
    margin-right: 0;
}
.directions__filter-btn {
    background: none;
    font: 700 16px 'Lato', sans-serif;
    line-height: 1.6;
    color: #9A9CA5;
    line-height: 160%;
    border: 2px solid #9A9CA5;
    border-radius: 4px;
    padding: 0 6px;
    transform: all 0.3s;
}
.directions__filter-btn:hover {
    box-shadow: 0 0 5px 5px hsl(240, 1%, 15%, 8%);
}
.directions__filter-btn_active {
    color: #fff;
    border: none;
    background: #F75E05;
    padding: 2px 8px;
}

.directions__content-box {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 30px;
}
.directions__img-box img{
    width: 100%;
    height: 100%;
}
.directions__content-item {
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    transition: all 0.3s;
}
.directions__content-item:hover {
    box-shadow: 0 0 10px 10px rgba(85, 86, 91, 0.08);
}
.directions__content-item:hover .directions__inner-btn {
    color: #FF3F3A;
}
.directions__content-item_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F5F6;
    color: #262627;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    padding: 0 74px;
    text-align: center;
}
.directions__content-inner {
    padding: 24px;
}
.directions__inner-tag {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 1px 8px;
    margin-bottom: 21px;
}
.directions__content-item__marketing .directions__inner-tag {
    background: #03CEA4;    
}
.directions__content-item__management .directions__inner-tag {
    background: #5A87FC;    
}
.directions__content-item__hr .directions__inner-tag {
    background: #F89828; 
}
.directions__content-item__design .directions__inner-tag {
    background: #F52F6E;
}
.directions__content-item__development .directions__inner-tag {
    background: #7772F1;
}
.directions__inner-text {
    color: #787A80;
    margin-bottom: 20px;
}
.directions__inner-btn {
    font-weight: 700;
    color: #1E212C;
    transition: all 0.3s;
}
.directions__inner-btn::after {
    content: "";
    background: url("../images/icons/arrow-right.svg");
    width: 18px;
    height: 12px;
    display: inline-block;
    margin-left: 11px;
}

/* ---------------  certificate -------------- */

.certificate__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.certificate__inner::before {
    content: "";
    background: url("../images/decor/4.svg");
    width: 60px;
    height: 60px;
    position: absolute;
    top: -25px;
    left: -200px;
}
.certificate__description {
    max-width: 392px;
    margin-bottom: 120px;
}
.certificate__title {
    margin-bottom: 48px;
}
.certificate__text {
    margin-bottom: 40px;
}
.certificate__logo-box {
    display: flex;
    justify-content: space-between;
}
.certificate__img-box {
    max-width: 705px;
    max-height: 500px;
    margin-bottom: -46px;
    box-shadow: 1px 1px 3px 3px rgba(85, 86, 91, 0.1);
}
.certificate__img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------------  team -------------- */

.team {
    padding: 166px 0 180px;
    background: #F4F5F6;
}
.team__heading {
    position: relative;
    margin-bottom: 60px;
}
.team__heading::before {
    content: "";
    background: url("../images/decor/6.svg");
    position: absolute;
    width: 41px;
    height: 41px;
    top: -100px;
    left: -200px;
}
.team__heading::after {
    content: "";
    background: url("../images/decor/7.svg");
    position: absolute;
    width: 143px;
    height: 105px;
    top: -120px;
    left: 800px;
}
.team__slider {
    margin: 0 -15px;
    overflow: hidden;
}
.team__slide {
    margin: 0 15px;
}
.team__slide:hover .team__socials {
    opacity: 1;
}
.team__slide-inner {
    margin-bottom: 16px;
    position: relative;
}
.team__img-box img {
    width: 100%;
    height: 100%;
}
.team__socials {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    border-radius: 4px;
    padding: 20px;
    opacity: 0;
    transition: all 0.5s;
}
.team__socials-icon {
    padding-right: 16px;
}
.team__socials-icon:last-child {
    padding-right: 0;
}
.team__info {
    text-align: center;
}
.team__info-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 4px;
}
.team__info-position {
    color: #787A80
}
.team__socials-link path {
    transition: all 0.3s;
}
.team__socials-link:hover path {
    fill: #E5E8ED;    
}
.team__slide-arrows {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    right: 0;
}

/* ---------------  test -------------- */

.test {
    background: #F4F5F6;
    padding-bottom: 180px;
}
.test__heading {
    position: relative;
}
.test__heading::before {
    content: "";
    background: url("../images/decor/8.svg");
    position: absolute;
    top: 0;
    left: -300px;
    width: 145px;
    height: 145px;
}
.test__heading::after {
    content: "";
    background: url("../images/decor/9.svg");
    position: absolute;
    top: -5px;
    left: 740px;
    width: 87px;
    height: 47px;
}
.test .container {
    position: relative;
}
.test__subtitle {
    text-align: center;
}
.test__title {
    text-align: center;
    margin-bottom: 60px;
}
.test__slider-wrapper {
    position: relative;
}
.test__slider-wrapper::after {
    content: "";
    background: url("../images/decor/7.svg");
    position: absolute;
    width: 143px;
    height: 105px;
    top: 300px;
    left: 0;   
}
.test__slider {
    padding: 0 105px;
}
.test__slide {
    width: 1020px;
    background: #fff;
    padding: 64px 105px 64px 163px;
    border-radius: 4px;
    position: relative;
}
.test__review-box::before {
    content: "";
    position: absolute;
    background: url("../images/icons/quote-icon.svg");
    top: 64px;
    left: 110px;
    width: 28px;
    height: 20px;
}
.test__review-text {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
}
.test__review-person {
    display: flex;
    align-items: center;
}
.test__img-box {
    margin-right: 20px;
    border-radius: 50%;
}
.test__person-name {
    font-weight: bold;
    color: #1E212C;
}
.test__person-position {
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
}
.test__arrow {
    z-index: 1;
    cursor: pointer;
}
.test__arrow-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.test__arrow-next {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
}
.test__arrow:hover button {
    background: #FF3F3A;
}
.test__arrow:hover path {
    fill: #fff;
}
.slick-dots {
    display: block;
    height: 60px;
}
.slick-dots li {
    width: 30px;
    height: 3px;
    padding: 0;  
}
.slick-dots li button {
    width: 30px;
    height: 3px;
    padding: 0;
    position: relative;
}
.slick-dots li button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #424551;
    opacity: 1;
    border-radius: 10px;
}
.slick-dots .slick-active button::before {
    background-color: #B3B7BC;
    opacity: 1;
    transition: all 0.3s;
}

/* ---------------  jobs -------------- */

.jobs {
    background: #F4F5F6;
    padding-bottom: 180px;
}
.jobs__subtitle {
    text-align: center;
}
.jobs__title {
    text-align: center;
    margin-bottom: 60px;
}
.jobs__companies {
    display: grid;
    grid-template: repeat(2, auto) / repeat(6, 1fr);
    gap: 40px 100px;
    position: relative;
}
.jobs__companies::after {
    content: "";
    position: absolute;
    background: url("../images/decor/10.svg");
    top: 220px;
    left: -350px;
    width: 90px;
    height: 90px;
}
.jobs__companies::before {
    content: "";
    position: absolute;
    background: url("../images/decor/11.svg");
    top: -350px;
    left: 1580px;
    width: 132px;
    height: 258px;
}
.jobs__companies-link {
    width: 100%;
    height: 100%;
}
.jobs__companies-link img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: 0.5;
    transition: all 1.3s;
}
.jobs__companies-link:hover img {
    filter: grayscale(0);
    opacity: 1;
    transition: all .3s;
}